{% extends 'rtv/base.html' %}
{% block title %}About{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>

      <title>About</title>
    </head>
    <body><center>
      <h1>About RTV - Report Traffic Violation</h1>
      <p> If you want to make walk way in Thailand like walk way in England , France , United State.So you have to join with us just take a photo and report them. </p>
      <h2>Properties of RTV</h2>
      <p>- Create post for report </p>
      <p>- Add image for report</p>
      <p>- Show for post list</p>
      <p>- Show detail in post</p>
	  <p>- Can edit post after finish</p>
      <p>- Can seach key word from your post</p>
      <p>- Can like&share post in facebook</p>
      <p>- Can comment post in facebook</p>

    </body></center>

</html>
{% endblock %}
