{% extends 'rtv/base.html' %}
{% block body %}
<center>
  <h1>{{ report.topic }}</h1>
  <h3>{{ report.license_plate }}</h3>

  <ul>
    {{ report.address }}
    {{ report.date }}
    {% if report.image %}
      <img src="{{ report.image.url }}" class="img-responsive">
    {% else %}
      <h3>No image to display</h3>
    {% endif %}
  </ul>

  <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="50" data-numposts="5"></div>
</center>
</center>
{% endblock %}
